@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
    background-color: #5300C9;
    padding: 12px 24px;
    color: white;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border: 3px solid white;
}

button:hover {
   background-color:#8647E0 ;
}

button:focus {
    background-color: #5300C9;
    border-color:  #DCC3FF;
}

button:active {
    background-color:     #4400A5 ;
}

button:disabled {
    background-color:   #E4E4E4;
}